
.row {
  margin: 2em;
}

.accessible-hide {
  clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0 !important;
	overflow: hidden;
	position: absolute;
}

.checkbox-legal {
  position: relative;
}
.checkbox-legal__field {
  position: absolute;
  left: 2px;
  top: 2px;
}
.checkbox-legal__label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left: 25px;
  height: 25px;
}
.checkbox-legal__label::before,
  .checkbox-legal__label::after {
  content: '';
  border: 1px solid #c4c4c4;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
}
.checkbox-legal__label::after {
  background: url('img/check.svg') center no-repeat;
  margin-left: -1px;
  border: 0;
  display: none;
}

.checkbox-legal__field:checked + .checkbox-legal__label::after {
  display: block;
}
.checkbox-legal__field:focus + .checkbox-legal__label::before {
  display: block;
  border-color: deeppink;
}
.checkbox-legal__description {
  display: inline;
  vertical-align: top;
  line-height: 25px;
}